.body{
    background-image:url("https://cdn.hovia.com/app/uploads/Blue-Bulldog-and-Sausage-Dog-Pattern-Pet-Wallpaper-Mural-Room-820x532.jpg") ;
}
.card{
    font-weight: bold;
    text-align: center;
    
  }
  